@media screen and (max-width: 675px) {
  .project-name-mobile {
    margin-bottom: -15px;
    display: block;
  }

  #overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    list-style: none;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 102;
    width: 100%;
    height: 100%;
  }

  #overlay li {
    z-index: 102;
    padding: 30px;
    font-size: 1.9rem;
    color: white;
    padding: 0;
    margin-top: 70px;

  }

  #overlay a {
    list-style: none;
    text-decoration: none;
  }

  .header--main li {
    display: none;
  }

  header #hamburger-menu {
    position: absolute;
    right: 20px;
  }

  header .menu {
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 10px;
  }

  .nav-bar {
    padding: 0;
  }

  main {
    width: 90%;
  }

  main .greeting {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  main .greeting--image {
    width: 90%;
    margin-bottom: 40px;
  }

  .project-name-mobile {
    font-size: 30px;
  }

  .grid-container {
    grid-template-columns: auto;
    grid-gap: 110px;
    margin: auto;
    padding: 0;
    border: none;
  }

  .grid-container img {
    object-fit: contain;
  }

  .middle {
    display: none;
  }

  .grid-item {
    border: none;
  }

  .grid-item:hover .grid-image{
    opacity: 1;
  }
  
  .grid-item:hover .middle {
    opacity: 0;
  }

  .grid-item h2, h3 {
    margin: 0;
  }

  .middle button {
    padding: 10px;
  }

  .button-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: padding 0.15s;
  }

  .button-mobile button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 21px;
    background: #030c13;
    padding: 10px 30px;
    border: 1px solid white;
  }

  .url-to-site-mobile:hover {
    transform: scale(1.1) rotate(-1.5deg);
  }

  .url-to-github-mobile:hover {
    transform: scale(1.1) rotate(+1.5deg);
  }

  .url-to-github-mobile img {
    width: 30px;
  }

  #contact-section {
    margin-top: 150px !important;
    width: 100%;
    
  }

  .contact h2 {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    margin-bottom: 10px;
  }

  .contact-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
  }

  .contact-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-links-container li {
    font-size: 2rem;
  }

  .contact-links-container a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .contact-form-container {
    margin-top: 50px;
  }

  .contact-form-container h3 {
    display: block;
    font-size: 2rem;
    background-image: linear-gradient(50deg, rgb(0, 213, 255), rgb(230, 0, 255));
    font-weight: 700;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
  }

  #name {
    margin: 0;
  }

  #name, #email, #message {
    padding: 20px 40px;
    width: 230px;
    background-color: #3d3d3d;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
  }

  .send-button {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 70px 10px 70px;
    font-weight: 700;
    border-radius: 10px;
    transition: transform 0.15s;
    white-space: nowrap;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }

  .download-pdf-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .donwload-icon {
    width: 130px;
    border: 6px solid white;
    padding: 20px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .button-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .button-mobile button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 21px;
    background: #030c13;
    padding: 7px 11px;
    border: 1px solid white;
  }
}