@media screen and (max-width: 568px) {
  .logo {
    background-image: linear-gradient(90deg, rgb(104, 224, 98), rgb(48, 164, 50)) !important;
    background-clip: text;
    color: transparent;
    margin: 10px;
  }

  #overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    list-style: none;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 102;
    width: 100%;
    height: 100%;
  }

  #overlay li {
    z-index: 102;
    padding: 30px;
    font-size: 1.9rem;
    color: white;
    padding: 0;
    margin-top: 70px;

  }

  #overlay a {
    list-style: none;
    text-decoration: none;
  }

  .header--main {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: rgb(34, 32, 32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
  }

  .header--main li {
    display: none;
  }

  #hamburger-menu {
    position: absolute;
    right: 20px;
    bottom: 30px;
  }

  header .menu {
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 10px;
  }

  .nav-bar {
    padding: 0;
  }
  
  main .greeting--image {
    object-fit: contain;
    object-position: right;
    width: 50%;
  }
  
  main .greeting--text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.5rem;
  }

  section h2 {
    color: rgb(26, 177, 54);
    margin: 10px;
  }

  main .greeting--image {
    width: 90%;
    margin-bottom: 40px;
  }

  .project-name-mobile {
    font-size: 30px;
  }

  .about-me p {
    text-align: left;
  }
  
  .about-section {
    margin-top: 10vh;
    font-size: 1.6rem;
    text-align: left;

  }
  
  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 50px;
    flex: 1;
  }

  .project img {
    width: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .project-description p { 
    width: 90%;
    font-size: 24px;
  }

  .project-description h2 {
    margin-top: 0px;
    font-size: 33px;
  }

  .project-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .project-button button {
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 5px 40px;
    font-weight: 700;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .project-button button:hover {
    opacity: 0.7;
  }

  .project-button img {
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }

  .grid-container {
    margin: auto;
    padding: 0;
    border: none;
  }

  .grid-container img {
    object-fit: contain;
  }

  .middle {
    display: none;
  }

  .grid-item h2, h3 {
    margin: 0;
  }

  .middle button {
    padding: 10px;
  }

  .button-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: padding 0.15s;
  }

  .button-mobile button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 21px;
    background: #030c13;
    padding: 10px 30px;
    border: 1px solid white;
  }

  .url-to-site-mobile:hover {
    transform: scale(1.1) rotate(-1.5deg);
  }

  .url-to-github-mobile:hover {
    transform: scale(1.1) rotate(+1.5deg);
  }

  .url-to-github-mobile img {
    width: 30px;
  }

  #contact-section {
    margin-top: 10px !important;
    width: 100%;
  }

  .contact h2 {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    margin-bottom: 10px;
  }

  .contact-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
  }

  .contact-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-links-container li {
    font-size: 2rem;
  }

  .contact-links-container a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .contact-form-container {
    margin-top: 50px;
  }

  .contact-form-container h3 {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-shadow: none;
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
  }

  #name {
    margin: 0;
  }

  #name, #email, #message {
    padding: 20px 40px;
    width: 230px;
    background-color: #3d3d3d;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
  }

  .send-button {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 70px 10px 70px;
    font-weight: 700;
    border-radius: 10px;
    transition: transform 0.15s;
    white-space: nowrap;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }

  

}

@media screen and (max-width: 450px) {
  .button-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .button-mobile button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 21px;
    background: #030c13;
    padding: 7px 11px;
    border: 1px solid white;
  }
}