html{scroll-behavior:smooth}


.container {
  width: 90%;
  margin: auto;
}

body {
  height: 100vh;
  background-color: rgb(21, 21, 21);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main h2 {
  text-align: center;
  font-size: 3rem;
}

main h3 {
  text-align: center;
}

.header--main {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: rgb(34, 32, 32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90px;

}

.my-skills {
  display: flex;
  justify-content: center;
  width:  100px;
  height: 100px;
  object-fit: scale-down;
  margin: auto;
}

.my-skills .react-logo {
  width: 98px;
  height: 90px;
  object-fit: scale-down;
  margin-left: 14px;
  margin-top: 5px;
}

.header--main ul {
  color: white;
}

.header--main p {
  font-size: 1.8rem;
  margin-left: 30px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(90deg, rgb(141, 8, 243), rgb(5, 222, 255));
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.header--main > nav {
  padding: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}

.header--main > nav > a {
  margin : 20px;
  text-decoration: none;
  color: white;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

main .greeting {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

main .greeting--image {
  object-fit: contain;
  object-position: right;
  width: 50%;
}

main .greeting--text {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.about-me {
  text-align: center;
}

.about-section {
  font-size: 2rem;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  grid-gap: 20px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  transition: opacity 0.7s;
}

.middle {
  transition: .0.7s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grid-item:hover .grid-image{
  opacity: 0.2;
}

.grid-item:hover .middle {
  opacity: 1;
}

.middle button {
  cursor: pointer;
  border: none;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 16px;
}

.name-of-project {
  margin-bottom: 50px;
  font-size: 30px;
}

.text {
  background-color: #c47713;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 16px 32px;
}

.url-to-my-work {
  text-decoration: none;
  background-image: linear-gradient(50deg, rgb(230, 0, 255), rgb(0, 213, 255));
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

